body {
    background-color: rgb(211, 197, 197);
    font-family: 'Pacifico', cursive;
}
div#container {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    display:flex;
}
section#part1 {
    width: 300px;
    font-size: 13pt;
    margin-right: 40px;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
}
footer#fot {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
button {
    text-align: center;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
button.but1 {
    color: rgb(221, 66, 144);
    background: none;
    border: none;
}
button.but2 {
    background-color: rgb(221, 66, 144);
    color: rgb(211, 197, 197);
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    border: none;
    margin-bottom: 40px;
    margin-left: 30px;
    box-shadow: 5px 5px 10px rgb(201, 60, 159);
}
a.aa, a.aaa, a.aaaa {
    text-decoration: none;
    font-weight: bold;
    color: rgb(221, 66, 144);
    font-size: 11pt;
}
div.link {
    text-align: right;
}
div.ideas {
    display: flex;
}
p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.ideas img {
    height: 60px;
    width: 60px;
    margin-right: 30px;
    margin-top: 20px;
}
.ideas h3 {
    font-size: 12pt;
    margin-top: 2px;
    margin: 0;
}
.ideas {
    margin-bottom: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 10px pink;
}
.ideas p {
    margin-top: 3px;
    margin-bottom: 10px;
    color: gray;
    font-size: 11pt;
}
.description {
    font-size: 11pt;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(75, 71, 71);
}

#body2 {
    background-color: rgb(221, 66, 144);
}
#container2 {
    display: flex;
    justify-content: center;
}
#container2 .content {
    margin-top: 30px;
    color: white;
}
#container2 .content h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 20px;
}
.content form {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
form input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}
form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}
form .pri:nth-child(3) {
    grid-column: span 2;
}
form .pri:nth-child(4) {
    grid-column: span 2;
}
form .pri:nth-child(5) {
    grid-column: span 2;
}
form label {
    font-weight: 500;
    line-height: 30px;
}
button#but3, button#but4 {
    background-color: white;
    color: rgb(221, 66, 144);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    box-shadow: 5px 5px 10px rgb(201, 60, 159);
    margin-top: 30px;
}
div#but33 {
    grid-column: 2;
    text-align: right;
}
div#principal {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}


/* Final page */
body#ultimo {
    background-color: rgb(211, 197, 197);
    font-family: 'Pacifico', cursive;
}
#container3 {
    width: 1100px;
    margin: auto;
}
#content3 header {
    text-align: center;
    margin-top: 50px;
}
#content3 header h3 {
    margin-bottom: -20px;
    font-size: 12pt;
    color: gray;
}
#content3 header h1 {
    font-size: 23pt;
}
#cab {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#cab img {
    margin-left: 50px;
}
#but {
    text-align: right;
    margin-right: 50px;
}
button#ini, button#ideas {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 11pt;
    cursor: pointer;
    outline: none;
}
button#ini:hover, button#ideas:hover {
    text-decoration: underline;
}
button#novide {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    background-color: rgb(221, 66, 144);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 140px;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgb(201, 60, 159);
}
button#novide:hover {
    background-color: #0984e3;
    color: white;
    transition: 400ms;
    box-shadow: none;
}
#grid1, #grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}
.cont img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-top: 10px;
}
.cont .ir {
    margin-top: -10px;
}
.cont .ir h3 {
    font-size: 12pt;
}
.cont .ir p {
    font-size: 11pt;
    color: gray;
    margin-top: -10px;
}
.ha {
   margin-top: 20px;
   margin-bottom: -10px;
   text-align: right;
}
.ha a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(221, 66, 144);
}
.ha a:hover {
    text-decoration: underline;
}
.cont {
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}
footer#final {
    margin-top: 70px;
    text-align: center;
}
footer#final a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
footer#final a:hover {
    color: rgb(221, 66, 144);
}
