body {
    background-color: rgb(211, 197, 197);
}
div#container {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    display:flex;
}
section#part1 {
    width: 300px;
    font-size: 13pt;
    margin-right: 40px;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
}
footer#fot {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
button {
    text-align: center;
    cursor: pointer;
    outline: none;
}
button.but1 {
    color: rgb(221, 66, 144);
    background: none;
    border: none;
}
button.but2 {
    background-color: rgb(221, 66, 144);
    color: rgb(211, 197, 197);
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    border: none;
    margin-bottom: 40px;
    margin-left: 30px;
    box-shadow: 5px 5px 10px rgb(201, 60, 159);
}
section#part2 {
    
}